<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lawyer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'home/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li> <a href="{% url 'advocatedashboard' %}">home</a></li>
                                        <li><a href="{% url 'advviewprofile' %}">View Profile</a></li>
                                        <li style="color: white;">Case <i class="ti-angle-down"></i>
                                            <ul class="submenu">
                                                <li><a href="{% url 'advviewcase' %}">View Case</a></li>
                                                <li><a href="{% url 'acptcase' %}">Accepted Case</a></li>
                                                <li><a href="{% url 'viewrejectedcase' %}">Rejected Case</a></li>
                                                <li><a href="{% url 'recase' %}">Resubmitted Case</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'advlogout' %}">Logout</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    {% block content %}
    <div class="slider_area ">
        <div class="slider_area_inner slider_bg_1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="single_slider">
                            <div class="slider_text">
                                <h3>We Strive to be the <br>
                                    leading <b>legal solutions </b> <br>platform in India</h3>
                                <p>choose from a range of qualified and experience lawyers covering all kind of legal
                                    areas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
                <a href="{% url 'homeindex' %}"><i class='fa fa-comments'
                style='font-size:40px; color:#ff5e13; right: 20px; bottom: 20px; position: fixed;'></i></a>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area _start  -->
    <div class="about_area">
        <div class="opacity_icon d-none d-lg-block">
            <i class="flaticon-balance"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="single_about_info text-center">
                        <div class="about_thumb">
                            <img src="{% static 'home/img/about/2.jpg' %}" height="280px" alt="">
                        </div>
                        <!-- <h3 mt-1>Finest And Strongest Law <br>
                            Firm Win The World</h3> -->
                        <p>Law and order are the medicine of the body politic and when the body politic gets sick,
                            medicine must be administered. <br><b>BR Ambedkar</b> </p>
                        <div class="signature">
                            <img src="{% static 'home/img/about/sign.png' %}" width="100px" height="50px" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="single_about_info text-center">
                        <div class="about_thumb">
                            <div class="image_hover">
                                <div class="hover_inner">
                                    <h2>93%</h2>
                                    <span>Success Case</span>
                                </div>
                            </div>
                        </div>
                        <!-- <h3>About Lawyer Justice</h3> -->
                        <p>The basic features of the Indian Constitution are that it the longest constitution which has
                            drawn its articles and principles from various sources including the constitutions of
                            several countries. It also has a Parliamentary form of government with a federal system and
                            a unitary bias, among many other features.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area _end -->

    <!-- practice_area_start -->
    <div class="practice_area">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-60">
                        <h3>Practice Area</h3>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-3 col-md-6">
                    <div class="single_practice">
                        <div class="practice_image">
                            <img src="{% static 'home/img/practice/1.png' %}" alt="">
                        </div>
                        <div class="practice_hover text-center">
                            <div class="hover_inner">
                                <i class="flaticon-case"></i>
                                <h3>Civil Law</h3>
                                <p>The law in India is primarily governed by the Code of Civil Procedure, 1908 (CPC)
                                    which is a procedural law pertaining to administration of civil proceedings in India
                                </p>
                                <!-- <a href="#" class="lern_more">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_practice">
                        <div class="practice_image">
                            <img src="{% static 'home/img/practice/2.png' %}" alt="">
                        </div>
                        <div class="practice_hover text-center">
                            <div class="hover_inner">
                                <i class="flaticon-courthouse"></i>
                                <h3>Criminal Law</h3>
                                <p>The laws that govern criminal law in India are the Indian Penal Code, 1860 (IPC) and
                                    the Criminal Procedure Code, 1974 (CrPC). </p>
                                <!-- <a href="#" class="lern_more">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_practice">
                        <div class="practice_image">
                            <img src="{% static 'home/img/practice/3.png' %}" alt="">
                        </div>
                        <div class="practice_hover text-center">
                            <div class="hover_inner">
                                <i class="flaticon-judge"></i>
                                <h3>Cyber Law</h3>
                                <p>In India, cyber crimes are covered by the Information Technology Act, 2000 and the
                                    Indian Penal Code, 1860. It is the Information Technology Act, 2000,
                                    which deals with issues related to cyber crimes and electronic commerce.</p>
                                <!-- <a href="#" class="lern_more">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="single_practice">
                        <div class="practice_image">
                            <img src="{% static 'home/img/practice/4.png' %}" alt="">
                        </div>
                        <div class="practice_hover text-center">
                            <div class="hover_inner">
                                <i class="flaticon-jury"></i>
                                <h3>Matrimonial Law</h3>
                                <p>Marriage is the blissfully state of the two parties which conveys not only the act or
                                    formalities should be performed by them but also the status as husband and wife in
                                    the society.

                                </p>
                                <!-- <a href="#" class="lern_more">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- practice_area_end -->

    <!-- testmonial_area_start  -->
    <div class="testmonial_area testmonial_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_testmonial text-center">
                            <i class="flaticon-straight-quotes"></i>
                            <p>

                                The end of law is not to abolish or restrain, but to preserve and enlarge freedom. <br>
                                For in all the states of created beings capable of law,<br> where there is no law, there
                                is no freedom. </p>
                            <div class="author_info d-flex justify-content-center align-items-center">
                                <span> <b> John Locke </b></span>
                            </div>
                        </div>
                        <div class="single_testmonial text-center">
                            <i class="flaticon-straight-quotes"></i>
                            <p>"A lawyer has to be a gendelman first. <br>His most valuable asset is the respect and
                                goodwill <br> he enjoys among his colleagues and in the court." </p>
                            <div class="author_info d-flex justify-content-center align-items-center">
                                <span> <b> Justice p.B Sawant</b></span>
                            </div>
                        </div>
                        <div class="single_testmonial text-center">
                            <i class="flaticon-straight-quotes"></i>
                            <p>" In the administration of justice, judges and lawyers play equal roles.Like judges, <br>
                                Lawyers also must ensure that truth triumps in the administration of justice."</p>
                            <div class="author_info d-flex justify-content-center align-items-center">
                                <span> <b> Dr. Dalveer Bhandari </b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testmonial_area_end  -->
    {% endblock %}
    <!-- footer_start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-lg-6">
                        <div class="footer_widget">
                            <div class="footer_logo">

                                <img src="{% static 'home/img/logo.png' %}" alt="">

                            </div>
                            <p class="footer_text">JSP PVT LTD <br>
                                +91 8921853320 <br>
                                <a class="domain" href="#">lawyer@contact.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-6 col-md-6 col-lg-6">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Practice Area
                            </h3>
                            <ul>
                                <li><a href="#">Civil law
                                    </a></li>
                                <li><a href="#">Criminal law</a></li>
                                <li><a href="#">Matrimonial law</a></li>
                                <li><a href="#">Cyber law</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
                                target="_blank">JSP PVT LTD</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- footer_end -->



    <!-- JS here -->
    <script src="{% static 'home/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'home/js/ajax-form.js' %}"></script>
    <script src="{% static 'home/js/waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'home/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'home/js/scrollIt.js' %}"></script>
    <script src="{% static 'home/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'home/js/wow.min.js' %}"></script>
    <script src="{% static 'home/js/nice-select.min.js' %}"></script>
    <script src="{% static 'home/js/gijgo.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'home/js/contact.js' %}"></script>
    <script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.form.js' %}"></script>
    <script src="{% static 'home/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'home/js/mail-script.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>

    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            // disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });
    </script>
</body>

</html>